<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735896106697-gultidsrbem8tf59qhmo6ifhgb5ag45d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735896106697-gultidsrbem8tf59qhmo6ifhgb5ag45d</string>
	<key>API_KEY</key>
	<string>AIzaSyDnhXk4gkqecctzQhrHYwfrHSjg-R9vt8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>735896106697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.academiaflutter.todoListProvider</string>
	<key>PROJECT_ID</key>
	<string>todo-list-provider-316bf</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-provider-316bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735896106697:ios:330d272275e3195729ff18</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-provider-316bf-default-rtdb.firebaseio.com</string>
</dict>
</plist>